.animate-heart {
    animation: beat_heart .6s ease-in-out infinite;
 }

@keyframes beat_heart {

    0%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@keyframes ani-fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
}

.animation-bounce {
    animation: bounce 6s ease-in-out infinite;
}


