//
// _mixin.scss
//

@import './mixin/accordion';
@import './mixin/alerts';
@import './mixin/avatar';
@import './mixin/blockquote';
@import './mixin/button';
@import './mixin/card';
@import './mixin/dropdown';
@import './mixin/form-check';
@import './mixin/form-range';
@import './mixin/forms';
@import './mixin/nav-tabs';
@import './mixin/pagination';
@import './mixin/popover';
@import './mixin/progress';
@import './mixin/ribbons';
@import './mixin/separator';
@import './mixin/toast';
@import './mixin/tooltip';
@import './mixin/primary-color';
@import './mixin/sidebar-color';

//flex alignments 
@mixin flex-align($display: flex, $direction: null, $align-items: null, $justify-content: null) {
    display: $display;

    @if $align-items !=null {
        align-items: $align-items;
    }

    @if $direction !=null {
        flex-direction: $direction;
    }

    @if $justify-content !=null {
        justify-content: $justify-content;
    }
}

//position alignments
@mixin position-align($position-values,
    $position-top: null,
    $position-right: null,
    $position-bottom: null,
    $position-left: null) {
    position: $position-values;

    @if $position-top !=null {
        top: $position-top;
    }

    @if $position-right !=null {
        right: $position-right;
    }

    @if $position-bottom !=null {
        bottom: $position-bottom;
    }

    @if $position-left !=null {
        left: $position-left;
    }
}